# Keyboard shortcuts
* to run the cell control enter
* to create new cell below, in blue cell press B
* to creat new cell above, in blue cell press A
* to delete a cell , in the blue cell press DD
* to undo --> z
* convert cell to markdown --> m
* convert cell to Raw --> R
* convert cell to code -->Y
* to run current cell and goes to next cell --> shft+enter

Whenever you want to write observations and insights from data use Raw NB covert

In [1]:
pwd

'C:\\Users\\JASMIN JOSEPH\\Jasmin Joseph'

pwd is to find the path

### Python basics
* comment -- single , multi-line
* identifiers, variables
* Print

In [2]:
# Area of Triangle
print("This is my first line of code") # '' "" ## Print is a inbuilt funtion to display any variable

This is my first line of code

In [3]:
'''This
is
a 
multi-line 
comment'''
print('This is for explaining multi-line comment')

This is for explaining multi-line comment

In [ ]:
""" This is 
to explain
multi-line comment
with double quotes"""
print("Good Evening to all")

* Identifiers-> names given to a variable name, func name, any naming variable
* Rules-> alphabets/nos/_, no special char allowed
* variables-> the value can be assigned and it can also be changed

In [6]:
x = 10 # x is a variable(variable should follow the rules of identifier,var name is a identifier)
x   #calling variable

10

In [1]:
a=5  #assignment
b=4
print(b)

4

### DataTypes
* bool 
* int
* float
* str

In [2]:
# bool- true/False
x = True #assignment
x ## calling the variable

True

In [3]:
type(x) #datatype of the variable

bool

In [4]:
y= False
y

False

In [5]:
type(y)

bool

In [7]:
# integer-> whole nos- +ve,-ve,0
num = 67
print(type(num)) ## print is used to display the variable, type will check the datatype of variable.
num

<class 'int'>

67

In [8]:
num1 = -45
type(num1)

int

In [9]:
# assign 0 to a variable num2 and print the datatype of num2
num2 = 0
type(num2)

int

In [10]:
# float-> decimal values
xy = 58.987
type(xy)

float

In [12]:
# assign 98.56 to a variable num3 and print the datatype of num3
num3 = 98.56
type(num3)

float

In [14]:
# str-> collection of alphabets enclosed within quotes(''/"")
name = "Deepa"
name

'Deepa'

In [18]:
print(name)

Deepa

In [15]:
type(name)

str

In [17]:
a=3
b=2
print(a,b)
print(a)
print(b)
a,b

3 2
3
2

(3, 2)

In [19]:
role = 'Data Scientist2*+-'
role

'Data Scientist2*+-'

In [20]:
type(role)

str

## Typecasting
* Hierarchy->bool->int->float->str
* Auto
* Forced

Typecasting is the way of converting from one datatype to another

In [22]:
# Auto Typecasting
exp = 5 + False + 6.78 + True + 7 + 98.34   # 5.0 + 0.0 + 6.78 + 1.0 +7.0 + 98.34  ## True=1,False=0
exp

118.12

In [24]:
exp1 = 5 + False + True + 7  # 5 + 0 + 1 + 7 ## auto typecasting
exp1

13

In [25]:
type(exp1)

int

In [27]:
# Forced Typecasting
exp2 = int(5.63)
exp2

5

In [28]:
type(exp2)

int

In [29]:
# convert 45 into float datatype and type its datatype
ex = float(45)
ex

45.0

In [30]:
type(ex)

float

In [31]:
# convert 56 into str 
s = str(56)
s

'56'

In [32]:
#convert True into float
float(True)

1.0

In [33]:
int(True)

1

In [34]:
float(True)

1.0

In [37]:
bool(0)

False

In [38]:
# Solve
exp3 = 5 + int('14') + float(True) + 15.67 + False -True -53.2
exp3

-18.53

In [41]:
# input ->str   # when you want user to put input use input function
num = input("Enter a value")    ##by default the value enterd consider as string while using input function
num

Enter a value2.0

'2.0'

In [42]:
type(num)

str

In [46]:
num = int(input("Enter a value "))  ## it only accept integer value as input
num

Enter a value -9

-9

In [44]:
type(num)

int

In [47]:
num =float( input("Enter a value")) ##it only  accept float value as input
num

Enter a value9.0

9.0

In [48]:
x = str(eval('5+6')) ##eval is an inbuilt function, force typecasting, single quate is mandatory
x

'11'

In [2]:
x = 'print(55)'
eval(x)

55

In [3]:
type(x)

str

In [50]:
eval("8+16+32")

56

In [51]:
## passing the variable dynamically
num = 10
print("The value of a number =",num)

The value of a number = 10

In [52]:
# assign name = 'John' and print the text My name is John
name = 'John'
print('My name is ',name)

My name is  John

In [54]:
job ='data scientist'
print('my job is ',job)

my job is  data scientist

In [56]:
# Format-{}->place holder --> predefined container where you can place content
name = 'Jerrin'
age = 32
print("My name is {} and my age is {}".format(name,age))

My name is Jerrin and my age is 32

Index: way of accessing the data
Indexing in python always starts with zero

In [57]:
name = 'Deepa'
age = 33
print("My name is {1} and my age is {0} and my name is {1}".format(age,name))

My name is Deepa and my age is 33 and my name is Deepa

In [58]:
num = 10
print("The value of a number is",num)

The value of a number is 10

In [59]:
name = 'Deepa'
age = 33 
role = 'Data Scientist'
print("My name is {} with role as {} and my age is {} ". format(name,role,age))

My name is Deepa with role as Data Scientist and my age is 33

In [60]:
#index: way of accessing the data
print("My name is {0} with role as {2} and my age is {1} ". format(name,age,role))

My name is Deepa with role as Data Scientist and my age is 33

## Slicing
* 3 parameters[start:stop(E):step]

method in python 
oprator used is :

In [62]:
## first function associated with string datatype is getting the length of data
st1 = "Welcome to Data Science Course"
len(st1)

30

In [63]:
## Indexing in python
st1[0]

'W'

In [64]:
st1[29]

'e'

In [65]:
st1[-3]
## it will read from the end. ie, reverse order

'r'

In [66]:
st1[-30]

'W'

In [68]:
st1[7]

' '

In [69]:
st1[3:7] # start,stop
## stop-1th position

'come'

In [70]:
st1[11:15]

'Data'

In [71]:
st1[16:23]

'Science'

In [83]:
st1[-14:-7]

'Science'

In [76]:
st1[11:15]

'Data'

In [77]:
st1[11:15:3] ##[start,stop,step] #by default step=1 # here every 3rd element will print

'Da'

In [81]:
st1[16:23:2]

'Sine'

In [84]:
st1[3:23]

'come to Data Science'

In [85]:
st1[3:23:3]

'ceoa ic'

In [86]:
st1[16: :2]

'SineCus'

In [87]:
st1[::-1] # Reverse of the string

'esruoC ecneicS ataD ot emocleW'

In [89]:
st1[14:10:-1]

'ataD'

In [92]:
st1[:8:-1]

'esruoC ecneicS ataD o'

In [ ]:
# Other functions->upper,lower,split

In [94]:
st1.upper()

'WELCOME TO DATA SCIENCE COURSE'

In [95]:
st1.lower()

'welcome to data science course'

In [96]:
st1.split()

['Welcome', 'to', 'Data', 'Science', 'Course']

In [97]:
st1.split('c')

['Wel', 'ome to Data S', 'ien', 'e Course']

## Mathematical operators

Operators which perform mathematical operation

In [1]:
## + addition
## - subtraction
## /,//,% for division
## * mulltiplication
## ** power of

In [2]:
## +
a=5  #assign the variable
b=6
c=a+b  ## summation
c

11

In [3]:
print("the value of c ",c)

the value of c  11

In [4]:
## subtraction
a,b=15,6
print("c is =",a-b)

c is = 9

In [5]:
## division
a=15
b=6
a/b ## when you want output to be float

2.5

In [6]:
a//b ## when you want to get interger outputi.e it will ignore the decimal part

2

In [7]:
a=15
b=2
a//b

7

In [8]:
a%b ## when you want reminder

1

In [9]:
## Multiplicatio
a,b=3,5
a*b

15

In [10]:
## power of operator
a**3

27

In [11]:
b**4

625

# Agenda
* Conditional statements
* List
* Tuple
* Dictionary
* Set
* Functions
* Loops

In [12]:
#Conditional Statements-> if, if-else, elif(nested if-else)
a=10
if(a==10):       ## :should be used, ## == comparison operator
    print("A value is 10")
    print("If block")
    print("Continue")
print("Out of If block")

A value is 10
If block
Continue
Out of If block

In [13]:
a=0 ##assigned a variable
if a>1:
    print("if executed")
else:
    print("wrong")

wrong

In [16]:
a=10
if(a==5): #False
    print("A value is 10")
    print("If block")
    print("Continue")
print("Out of If block") #Executes if is True/False

Out of If block

In [17]:
a=5 #if-else
if(a==5): #True
    print("A value is 10")
    print("If block")
    print("Continue")
else: #False
    print("If statement fails")
    print("Else statement")

A value is 10
If block
Continue

In [18]:
a=10 #if-else
if(a==5): #True
    print("A value is 10")
    print("If block")
    print("Continue")
else: #False
    print("If statement fails")
    print("Else statement")

If statement fails
Else statement

In [19]:
a=0
if(a>0):
    print("A is positive")
else:
    print("A is negative")

A is negative

In [20]:
a=float(input("Enter the number"))
#a=0 #elif-> +ve,-ve,zero elseif->elif
if(a>0):
    print("A is positive")
elif(a<0):
    print("A is negative")
else:
    print("A is Zero")

Enter the number-8.0
A is negative

In [21]:
a=float(input("enter a number :"))
if(a>4):
    print("the number is greater than 4")
elif(a<4):
    print("The number is less than 4")
else:
    print("The number is 4")

enter a number :6.7
the number is greater than 4

In [ ]:
price=100000

has_good_credit=True
if has_good_credit==True:
    down_payment=0.3*price
    print(down_payment)
else:
    down_payment=0.1*price
    print(f"down payment:{down_payment}")

# Python Data structure

# List
* ordered heterogenous(all type of data) data which indexed
* mutuble
* operations
* []

In [22]:
l=[1,2,3.5,'hi',4.7] ## list can be created by []
l

[1, 2, 3.5, 'hi', 4.7]

In [23]:
type(l)

list

In [25]:
l5=[] ## creating empty list
l5

[]

In [26]:
 l1=list([1,3,'d',True])
 l1

[1, 3, 'd', True]

In [28]:
l3=list() ##creating empty list
print(l3)
type(l3)  ##checking the datatype

[]

list

In [30]:
l

[1, 2, 3.5, 'hi', 4.7]

In [29]:
#Operations-> inserting,deleting,sort, slicing
l[2] #index value starts with 0

3.5

In [31]:
l[-2]

'hi'

In [38]:
l=[1,2,3.5,'hi',4.7]

In [39]:
#Insertion-> append,extend,insert
l.append(6.5) ##append will add new lement in the end of the list
l2=[1,2,3,[1,2,3]] ##list inside list using square bracket

In [40]:
l

[1, 2, 3.5, 'hi', 4.7, 6.5]

In [41]:
l.append([1,2]) ##adding list inside list using append
l

[1, 2, 3.5, 'hi', 4.7, 6.5, [1, 2]]

In [42]:
l2[3][1] ##accessing elements from nested list

2

In [43]:
l2[3][0]

1

In [44]:
f2= [1,2,3.5,'hi',['hello',2]]
f2

[1, 2, 3.5, 'hi', ['hello', 2]]

In [45]:
l.extend([7,8,9]) #not to get nested list instead you  want to append elements or when you want to append multiple times
l

[1, 2, 3.5, 'hi', 4.7, 6.5, [1, 2], 7, 8, 9]

In [46]:
l.insert(3,4) #(pos,element)
l

[1, 2, 3.5, 4, 'hi', 4.7, 6.5, [1, 2], 7, 8, 9]

In [47]:
l.insert(0,'good')
l

['good', 1, 2, 3.5, 4, 'hi', 4.7, 6.5, [1, 2], 7, 8, 9]

In [48]:
l.extend(l)
l

['good',
 1,
 2,
 3.5,
 4,
 'hi',
 4.7,
 6.5,
 [1, 2],
 7,
 8,
 9,
 'good',
 1,
 2,
 3.5,
 4,
 'hi',
 4.7,
 6.5,
 [1, 2],
 7,
 8,
 9]

In [53]:
l1=[3,4]
l2=[7,8]
l1.extend(l2)
l1

[3, 4, 7, 8]

In [54]:
l1.insert(-2,5)
l1

[3, 4, 5, 7, 8]

In [55]:
l1.insert(-1,10)
l1

[3, 4, 5, 7, 10, 8]

In [2]:
l1=[1,2,3]
l2= [4,5,7]
l3= [8,9,6]
l=l1+l2+l3
l

[1, 2, 3, 4, 5, 7, 8, 9, 6]

In [57]:
List = ["banana", "orange", "apple", "cherry", "grape"]
List[3:3] = ["mango", "papaya"] ##slice elemennt
List

['banana', 'orange', 'apple', 'mango', 'papaya', 'cherry', 'grape']

In [1]:
s1=[3,2,1]
s1[2:2]=[4,5]
s1

[3, 2, 4, 5, 1]

In [13]:
l1=[4,8,2,'hi',5.3,4,9,12,10,15]
l1

[4, 8, 2, 'hi', 5.3, 4, 9, 12, 10, 15]

In [14]:
#Deletion-> pop,remove,del
#pop-> deletes last element and returns last elemnet from list
l1

[4, 8, 2, 'hi', 5.3, 4, 9, 12, 10, 15]

In [15]:
l1.pop() ##by default it will remove last element from the list

15

In [16]:
l1.pop(1) ##if index is mentioned, respective element will be removed

8

In [17]:

l1

[4, 2, 'hi', 5.3, 4, 9, 12, 10]

In [2]:
l1=[4,8,2,'hi',5.3,4,9,12,10,'hi',15]
l1

[4, 8, 2, 'hi', 5.3, 4, 9, 12, 10, 'hi', 15]

In [24]:
l1.remove('hi') ## remove is used to remove a particular value from list. it will remove the first value if the same value shows more than one time in the list

In [25]:
l1

[4, 8, 2, 5.3, 4, 9, 12, 10, 'hi', 15]

In [ ]:
## first call the del and then calllyour list and pass their index

In [3]:
del l1[9]

In [4]:
l1

[4, 8, 2, 'hi', 5.3, 4, 9, 12, 10, 15]

In [5]:
del l1[3]

In [6]:
l1

[4, 8, 2, 5.3, 4, 9, 12, 10, 15]

In [30]:
list1=[2,4,6]
list1

[2, 4, 6]

In [31]:
list1.clear() ## to remove all elements from the list making empty
list1

[]

In [32]:
list1=[4,8,10,12]# need to insert 6 after 4=> [4,6,8,10,12] 
list1.insert(1,6)
list1

[4, 6, 8, 10, 12]

In [33]:
list1.remove(10)
del list1[3]
list1

[4, 6, 8]

In [34]:
list1.clear()

In [35]:
list1

[]

In [36]:
del list1

In [37]:
list1

NameError: name 'list1' is not defined

In [38]:
r= [1,8,15,39,455,78,92,78]
r

[1, 8, 15, 39, 455, 78, 92, 78]

In [39]:
#sort
r.sort() #ascending
r

[1, 8, 15, 39, 78, 78, 92, 455]

In [40]:
r.sort(reverse=True)
r

[455, 92, 78, 78, 39, 15, 8, 1]

In [41]:
s=[4,2,9.7,'hi',False]

In [43]:
s.sort()  ## bcz sort is a mathematical operator, it take numerical values

s

TypeError: '<' not supported between instances of 'str' and 'float'

In [44]:
s1=[2,6,7,8,10]
s2=[3,6,9,12,45,67]

In [47]:
s1[1:3]

[6, 7]

In [49]:
s2[4:6]

[45, 67]

In [53]:
s1=[2,6,7,8,10]
s2=[3,6,9,12,45,67]
#Q1)s1->6,7
#Q2)s2->45,67
#Q3)s1->2,6,7,8
#Q4)reverse s2
#Q5) s2-> 3,9,45
#Q6) s2->3,12

s1[1:3]

[6, 7]

In [55]:
s2[4:6]

[45, 67]

In [54]:
s2[-2:-5:-2]

[45, 9]

In [ ]:
s2[0]+s2[3]+s2[5]

In [ ]:
s2[-1:-3:-1]

In [ ]:
s2[4:]

In [ ]:
s1[:4]

In [ ]:
s2[::-1]

In [ ]:
s2[::2]

In [ ]:
s2[::1]

In [ ]:
s2[::3]

In [ ]:
() -functions/mod
[] ->position

# Tuples
* elements, heterogeneous 
* immutable 
* ()
* marksheets

- cannot change the element in the tuple, only difference

In [56]:
t=(1,2,3.4,5,7,7) ## defining the tuple
t

(1, 2, 3.4, 5, 7, 7)

In [58]:
type(t)

tuple

In [59]:
t1=tuple([3,5,8,4])  ## using builtin function tuple and passing the list
t1

(3, 5, 8, 4)

In [60]:
type(t) ##checking datatype

tuple

In [61]:
t[2]=3  ##'tuple' object does not support item assignment

t

TypeError: 'tuple' object does not support item assignment

In [62]:
t

(1, 2, 3.4, 5, 7, 7)

In [63]:
t.count(7)  #count will count the given value

2

In [64]:
t.count(8)

0

In [65]:
t.index(3.4)

2

In [67]:
t.index(7)

4

In [7]:
t1=([1,2,3,4,5],20)
t1

([1, 2, 3, 4, 5], 20)

In [8]:
type(t1)

tuple

In [9]:
del(t1[0][1])

In [10]:
t1

([1, 3, 4, 5], 20)

In [14]:
##t1=input(tuple([1,2,3,4,5]))
t2=tuple(input('enter the tuple'))

enter the tuple543

In [15]:
t2

('5', '4', '3')

# Dictionary
* key/value pairs, hetergenous,unique key, useful info
* {} , ':' -> key/value pair

In [1]:
dict={1:'One',2:'Two', 3:'Three'}
dict

{1: 'One', 2: 'Two', 3: 'Three'}

In [2]:
type(dict)

dict

In [3]:
dict[2] #extracting value with key

'Two'

In [4]:
dict[3]

'Three'

In [5]:
dict[3]='tripple'  #change the value of the value of a key
dict

{1: 'One', 2: 'Two', 3: 'tripple'}

In [6]:
dict[4]  ##there is no value is defined for key 4

KeyError: 4

In [7]:
b={'a':'above','b':'below'}
b

{'a': 'above', 'b': 'below'}

In [8]:
b['a']

'above'

In [9]:
dict.keys()

dict_keys([1, 2, 3])

In [10]:
b.keys()

dict_keys(['a', 'b'])

In [11]:
dict.values()

dict_values(['One', 'Two', 'tripple'])

In [12]:
b.values()

dict_values(['above', 'below'])

In [13]:
dict.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'tripple')])

In [15]:
## /nested Dictionary
nd={1:'one',2:{11:'Eleven',12:'twelve'},3:'Three'}
nd

{1: 'one', 2: {11: 'Eleven', 12: 'twelve'}, 3: 'Three'}

In [16]:
nd[2] ##key

{11: 'Eleven', 12: 'twelve'}

In [17]:
nd[2][11]

'Eleven'

In [18]:
nd[2][12]

'twelve'

In [16]:
san={1:'hi', 2:'ho'}
san

{1: 'hi', 2: 'ho'}

In [17]:
san[1]='so'
san

{1: 'so', 2: 'ho'}

# Sets
* elements ascending, unique , {}

* all elements of set are arranged in the ascending order
* All elements are unique
* union and intersection
* {}

In [1]:
s1={1,2,4,3,1,3,5,1} # set creation using curly brace
s1

{1, 2, 3, 4, 5}

In [2]:
type(s1) # get the data type

set

In [3]:
s2=set([1,5,8,96,4,745,78]) # using the inbuilt function

In [4]:
s2

{1, 4, 5, 8, 78, 96, 745}

In [5]:
type(s2)

set

In [7]:
s3={'fd', 'fee', 1.2,False,'as'}
s3

{1.2, False, 'as', 'fd', 'fee'}

In [8]:
#Operations-> add,union,intersection,difference
s1.add(6)

In [9]:
s1

{1, 2, 3, 4, 5, 6}

In [10]:
s1.add('hello')
s1

{1, 2, 3, 4, 5, 6, 'hello'}

In [11]:
s2={1,9,7,5,3,1,5}
s2

{1, 3, 5, 7, 9}

In [12]:
type(s2)

set

In [13]:
s1

{1, 2, 3, 4, 5, 6, 'hello'}

In [14]:
s2

{1, 3, 5, 7, 9}

In [15]:
s1.union(s2) ## taking all elements from both sets and removing duplicates

{1, 2, 3, 4, 5, 6, 7, 9, 'hello'}

In [16]:
s1.intersection(s2) ##take only the common elements

{1, 3, 5}

In [18]:
s3={'hai',1}
s3

{1, 'hai'}

In [19]:
s3.add('abi')
s3

{1, 'abi', 'hai'}

In [20]:
s3.add(5.6)
s3

{1, 5.6, 'abi', 'hai'}

In [21]:
s3.add(0.1)
s3

{0.1, 1, 5.6, 'abi', 'hai'}

In [22]:
s4=s1.union(s2,s3)
s4

{0.1, 1, 2, 3, 4, 5, 5.6, 6, 7, 9, 'abi', 'hai', 'hello'}

In [23]:

s1.difference(s2)

{2, 4, 6, 'hello'}

In [24]:
s2.difference(s1)

{7, 9}

# Functions

* code reusability
* decompose
* 2 types of functions. 1> inbuilt function 2> user defined function
* def function-namw(): {business logic}

In [25]:
def area(side):
    return side*side
area(5)

25

In [26]:
def functionname(parameters): #func definition
    block of stmt
functionname(para) #function call

SyntaxError: invalid syntax (Temp/ipykernel_17296/1501200791.py, line 2)

In [27]:
def rect(len,bre):
    area=len*bre
    return area
    print("The area of Rect", area)
rect(10,5)

50

In [33]:
# vloume of cubhoid vol=l*b*h
def cuboid(len,width,height):
    volume=(len*width*height)
    #return volume
    print("the volume of cuboid is",volume)

In [34]:
cuboid(10,5,5)

the volume of cuboid is 250

In [35]:
def cuboid(len,width,height):
    volume=(len*width*height)
    return volume
    print("the volume of cuboid is",volume)
cuboid(10,5,5)

250

In [38]:
leng=float(input("enter the value of length"))
height=float(input("enter the value of height"))
width=float(input("enter the value of width"))
def cubic(leng,width,height):
    volume=(leng*width*height)
    print("the volume of cuboid is",volume)
    return volume
cubic(leng,height,width)

enter the value of length3.0
enter the value of height4
enter the value of width5.5
the volume of cuboid is 66.0

66.0

In [4]:
def area_triangle():
    a=float(input("first input "))
    b=float(input('second input '))
    
    x=1/2*a*b
    print("area: ",x)
area_triangle()

first input3
second input2
area:  3.0

# Loops

* while loop
* for loop

In [5]:
# while loop 
# initialisation
# condition
# true -> body of loop
# false -> come out of the loop


i=1
while(i<5):
    print("The value is ",i)
    i=i+1
print("Out of the while loop")

The value is  1
The value is  2
The value is  3
The value is  4
Out of the while loop

In [7]:
# Print numbers from 2 to 20 (multiples of 2) 2,4,6,8...20 using while loop
i=2
while(i<21):
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

In [8]:
# iterating over list

fruits=['apple','orange','grapes','jackfruit']
for i in fruits:
    print("fruit",i)

fruit apple
fruit orange
fruit grapes
fruit jackfruit

In [9]:
toys=['soft toy','truck','teddy','car']
for i in toys:
    print(i)

soft toy
truck
teddy
car

In [11]:
## iterating over string data
s="hello"
for j in s:
    print(j)

h
e
l
l
o

In [ ]:
## for loop --> range(start , stop, step)

In [12]:
for i in range(5): #stop  ## range-> generator funtion, by default start with 0
    print(i)

0
1
2
3
4

In [14]:
for i in range(1,6):  # start, stop
    print(i)

1
2
3
4
5

In [15]:
for i in range(2,21,2):
    print (i)

2
4
6
8
10
12
14
16
18
20

In [16]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50